<div id="nav">
  <h2 id="logo">Local <%= image_tag("local_organics_logo.png", size: "50x50", alt: "logo") %>rganics</h2>
  
  <div id="user_login">
    <a href="/">Home</a>
    <% if current_user %>
      Signed in as <a href="/users/<%= current_user.id %>"><strong><%= current_user.name %></strong>!</a>
      <%= image_tag(@auth['info']['image']) %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>  
</div>