<div id="nav">
  <a href="/">
    <h2 id="logo">Local <%= image_tag("local_organics_logo.png", size: "50x50", alt: "logo") %>rganics</h2>
  </a>
  
  <div id="user_login">
    <% if current_user %>
      Signed in as <a href="/users/<%= current_user.id %>"><strong><%= current_user.name %></strong>!</a>
      <%= image_tag(@auth['info']['image']) %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
<script src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>
<script type="text/javascript">
  
  var lock = new Auth0Lock('GnnpEsH73Ah77BOQTK754470qYwZftrE', 'steven5211.auth0.com');
  
  
  function signin() {
    lock.show({
        callbackURL: 'http://localhost:3000/auth/auth0/callback'
      , responseType: 'code'
      , authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>
<button onclick="window.signin();">Login</button>
    <% end %>
  </div>  
</div>