<!DOCTYPE html>
<html>
<head>
  <title>Local Organics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield(:google_maps_api) if content_for?(:google_maps_api) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>
<body>
  
<%= render 'partials/navigation' %>

<div id="wrapper">
  <%= yield %>
</div>
<footer></footer>
</body>
</html>
